input {
    outline: 0;
    border-width: 0 0 3px;
    border-color: rgb(0, 0, 0);
}

input:focus {
    border-color: rgb(85, 85, 85);
}

.centered {
    position: fixed;
    top: 45%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.centered2 {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}
